.cart-outside-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.cart-inside-container {
  width: 30%;
  text-align: start;
}

.gif-container {
  width: 30%;
  height: 30%;
}
